grant codebase "file:${user.dir}/dist/lib/foxtrot.jar"
{
   permission java.awt.AWTPermission "accessEventQueue";
   permission java.util.PropertyPermission "sun.awt.exception.handler", "read";
};

grant codebase "file:${user.dir}/dist/lib/foxtrot-test.jar"
{
   // Needed by Swing implementation
   permission java.awt.AWTPermission "accessEventQueue";

   permission java.awt.AWTPermission "showWindowWithoutWarningBanner";

   // Needed by the tests
   permission java.util.PropertyPermission "sun.awt.exception.handler", "read, write";
};
