grant codebase "file:${user.dir}/dist/lib/foxtrot.jar"
{
   // Needed by Swing implementation
   permission java.awt.AWTPermission "accessEventQueue";

   // Needed by Foxtrot Framework
   permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
   permission java.lang.RuntimePermission "accessDeclaredMembers";
   permission java.lang.RuntimePermission "getClassLoader";
   permission java.util.PropertyPermission "sun.awt.exception.handler", "read, write";
};


grant codebase "file:${user.dir}/dist/lib/foxtrot-test-runner.jar"
{
   permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
   permission java.util.PropertyPermission "user.dir", "read";
   permission java.io.FilePermission "dist/lib/foxtrot.jar", "read";
   permission java.io.FilePermission "dist/lib/foxtrot-test.jar", "read";
   permission java.lang.RuntimePermission "createClassLoader";
   permission java.lang.RuntimePermission "setContextClassLoader";
};

grant codebase "file:${user.dir}/dist/lib/foxtrot-test.jar"
{
};
